// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */

// 1. BASE 					==============================
section article {
	border: none;
}
// 2. LAYOUT				==============================
.wrapper {
	margin: 0 auto;	
}

.row.content-block  .teaser.medium-three:last-child {
	float: left; /* override last child float:right as there are only three blocks */
}

aside {
	display: block;
	width: 100%;
}

// 3. MODULE 				==============================
.button {
	width: 200px;
}

.button-reset {
	margin:0;
}

/* Header */
.top {
	height: 148px;
}
.logo {
	width:  190px;
	height: 68px;
	background-size: 120px;
	background-position: 12px 30px;
}

.toggleBtn  {

	line-height: 57px;

	&.search {
		height: 50px;
		width: 50px;
		position: relative;
		top: 98px;
		z-index: 99;
	}

	&.menu {
		display:  none;
	}
}

.header-search-form {
	bottom:-217px;			
}


.pattern {
	overflow: visible;
}

a#menu-link {
   display: none;
}

.js #menu, .js #menu > ul ul {
	max-height: none;
	overflow: visible;
	background: none;
}
.js #menu > ul ul {
	
	display: none;
}

.js #menu > ul li:hover > ul {
	display: block;
}

#menu > ul > li {
	display: inline-block;
	position: relative;
}
#menu > ul ul {
	position: absolute;
	top: 0;
	left: 12em;
	width: 12em;
}
#menu > ul ul li {
	position: relative;
}
#menu > ul ul.lvl2 {
	top: 3.1em;
	left: 0;	
}

#menu > ul ul.lvl2  li {
	width: 100%;
	border-top: 1px solid lighten($mainColor, 10%);
}
#menu li.parent > a:after {
	content: '';

}
#menu li.parent > a.active:after {
	content: "";
}

#menu > ul ul.lvl3  {
	top:-1px;
}

.js nav[role=navigation]  {
	max-height:  55px;
	position: relative;
	top: 16px;
}
nav[role=navigation] ul  {
	margin:0;
	border:  0;
	background-color: darken($mainColor, 5%);	
}
nav[role=navigation]  li  {
	display:  inline-block;
	margin:  0;
	background-color: darken($mainColor, 10%);
}
nav[role=navigation] li a  {
	border:  0;
	background-color: darken($mainColor, 5%);
	padding: 0.95em 0.8em;
	@include font-size(16);
}

.banner {
	height: 290px;
}

		.thumbnail {
			display:none;
			display: inline-block;
			margin:5px 10px 0 0;
			width: 15%;
		}

		.teaserBody {
			display: inline-block;
			width:75%;
			vertical-align: top;
		}



/* Footer */
.footerlinks {
	margin-left:0;
	padding-top: 10px;
	.col{
		width:25%;
	}

	h4, h4 .morelink {
		display:block;
		margin:32px 0 15px 0;
		@include font-size(18);
		color:#000;
	}

	ul {
		padding: 0 0 0 1.1em;
		li {
			@include font-size(12);
			text-indent: 0;
			line-height: 2em;
			font:  {
				family: Lato;
			}
		}
	}
	ul.contact {
		list-style-type: none;
		text-indent: 0;
		padding: 0;
		.icon {
			@include font-size(36);
			text-align: left;
			text-indent: 0;
			display: inline-block;
			line-height: 0.4em;
			vertical-align:  40%;
			padding-left: 0;
		}
		li div {
			position:relative;
		}
		li span {
			left: 30px;
			position:absolute;
		}
	}
	
}
footer .siteinfo {
	height: 60px;
	margin-top: 10px;
	text-align: left;
}
p.copyright {
	float: left;
	margin: 0;
	display: inline-block;
}
ul.disclaimer {
	
	margin: 21px 41px 0;	
	display: inline-block;
}
.toTop {
	float: right;

	[data-icon]:before {
		top: 14px;
		right: 15px;
	}
}

/* Pagination */
.pagination {
	text-align: right;
	height: 24px;

	li {
		height: 24px;

		a, span {
			@include font-size(14);
			line-height: 22px;
			padding: 1px 10px 1px;
		}
	}
}

.pagination-text {
	text-align: left;
}

.bottom .sponsor {
	margin:0;
}

// 4. STATE 				==============================

/* Header */
.toggleMenu {
	display: none;
}
/* Footer */
.footerlinks ul {
	display: block;
}
// 5. THEME 				==============================