// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 600 =================================================== */

// 1. BASE 					==============================
// 2. LAYOUT				==============================
.wrapper{
	max-width:650px;
	margin:0 auto;	
	;
}

// 3. MODULE 				==============================
/* Header */
.top{
	height:148px;
}
.toggleSearch{
	height:50px;
	width:50px;
	position:relative;
	top:98px;
	z-index:99;
}
a.toggleMenu {
   display: none;
}
.toggleMenu .icon, .toggleSearch .icon{
	height:50px;
}
.js nav[role=navigation] {
	max-height: 55px;
	position:relative;
	top:48px;
}
nav[role=navigation] ul {
	margin: 0 0 0 -0.25em;
	border: 0;
	background-color:darken($baseColor, 5%);
	
}

nav[role=navigation]  li {
	display: inline-block;
	margin: 0 0.25em;
	background-color:darken($baseColor, 10%);
}
nav[role=navigation] li a {
	border: 0;background-color:darken($baseColor, 5%);
	padding:0.969em 0.8em;
	@include font-size(16);
}

.banner{
	height:290px;
}

/* Footer */
.footerlinks{
	li{
		@include font-size(12)

	}
	ul.contact{
		list-style-type:none;
		text-indent:0;
		padding:0;
		margin:0;
		.icon{
			@include font-size(48);
			text-align:left;
			text-indent:0;
			display:inline-block;
			line-height:0.8em;
		}
	}
	
}

/* Buttons */

.button{
	width:200px;
}

// 4. STATE 				==============================
/* Header */
.toggleMenu{
	display:none;
}
/* Footer */
.footerlinks{
	display:block;
}
.quicklinks{
	display:none;
}

// 5. THEME 				==============================