// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. BASE 					==============================
// 2. LAYOUT				==============================
// 3. MODULE 				==============================


/* Header */
.top {
	height: 148px;
}

.logo {
	width:  190px;
	height: 68px;
	background-size: 120px;
	background-position: 12px 30px;
}

.toggleBtn  {
	line-height: 51px;
	border: none;
	text-align: center;

	&.search {
		position: relative;
		height: 50px;
	}

	&.menu {
		display: none;
	}
}

.header-search {
	overflow: hidden;
	top: 33px;
}

.header-search-form {
	position: static;
	background: transparent;
	text-align: left;
	padding:0;

	input[type="text"] {
		display:block;
		height: 50px;
		width:180px;
		position: relative;
		z-index: 100;
		float: right;
		background: darken($mainColor, 10%);
		color: #fff;
		padding-left: 18px;
		@include border-radius(0);
	}

	input[type="submit"] {
		display:none;
	}
}

// 4. STATE 				==============================
// 5. THEME 				==============================