// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. BASE 					==============================
// 2. LAYOUT				==============================
// 3. MODULE 				==============================

/* Header */
.top {
	height: 148px;
}

.logo {
	width:  190px;
	height: 68px;
	background-size: 120px;
	background-position: 12px 30px;
}

.toggleBtn  {
	line-height: 51px;
	border: none;
	text-align: center;

	&.search {
		position: relative;
		height: 50px;
	}

	&.menu {
		display: none;
	}
}

.header-search {
	overflow: hidden;
	top: 33px;
}

.header-search-form {
	position: static;
	background: transparent;
	text-align: left;
	padding:0;

	input[type="text"] {
		display:block;
		height: 50px;
		width:180px;
		position: relative;
		z-index: 100;
		float: right;
		background: darken($mainColor, 10%);
		color: #fff;
		padding-left: 18px;
		@include border-radius(0);
	}

	input[type="submit"] {
		display:none;
	}
}

.breadcrumbs{
	a {
		display: inline-block;
		&.parent{
			&:before{
				content: '';
				margin: 0;
				width: auto;
			}
		}		
	}
	span {
		display: inline-block;
		padding: 0 2px 0 4px;
	}
}

/* footer */
.footerlinks ul.contact {

	[class^="icon-"]:before {
		display: inline-block;
		@include font-size(18);
		text-align: left;
		text-indent: 0;
		display: inline-block;
		line-height: 0.4em;
		vertical-align:  40%;
		padding-left: 0;
	}

	li div {
		position:relative;
	}

	li span {
		left: 53px;
		position:absolute;
	}

}

// FCB Nav
nav[role=navigation]  {
    @include single-transition(none);
	overflow: visible;
	height: 44px;
	position: relative;
	padding: 0px 10px; // we dont need the extra padding here
	position: absolute;
	top: 104px;
	left: 0;
	background: #005e9a;
}

.fcbNav {
	@include clearfix;
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	
	// Global level styles
	//-----------------------------------------------------------------------
	a {
		@include font-size(14);
		height: 44px;
		border:  0;
		background-color: darken($mainColor, 5%);
		padding: 0.95em 10px 0;
	}
	
	li {
		text-align: left; //override top level justify
		position: relative;
		margin: 0;
		background-color: darken($mainColor, 10%);

		&:hover > ul {
			display: block; //display sub menu of navigation
		}
	}

	ul {
		@include clearfix;
		@include font-size(10);
		margin: 0;
		padding: 0;
		display: none;
		min-width: 16em;
		width: auto;
		position: absolute;
		top: 0;
		
		//sub level navigation styles overrides */
		//-----------------------------------------------------------------------
		li {
			position: relative;
			width: 100%;
			border-bottom: 1px solid #39486d;

			&:first-child {
				border-top: 1px solid #39486d;
			}

			a {
				@include font-size(13);
				padding: 16px 20px 17px 20px; // overide first level padding
				height: auto;
			}
		}
	}
	
	// Specific level nagiation sytle overrides
	//-----------------------------------------------------------------------
	&.lvl1 {

		> li{
			> a{
				text-align: center;
			}
		}

		li {
			border: none;
			display: inline-block;
		}
	}

	.lvl2 {
		top: 44px;
		left: 0;
	}

	.lvl3 {
		left: 100%;
	}
}

//	disable mobile show hide styles
//-----------------------------------------------------------------------
#menu, #menu > ul ul {
	max-height: none;
}

// 4. STATE 				==============================
// 5. THEME 				==============================