// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 992 =================================================== */

// 1. BASE 					==============================
// 2. LAYOUT				==============================
.wrapper {
	max-width: 980px;
	margin: 0 auto;	
}

.row.content-block .teaser.medium-three:last-child {
	float: right; /* override last child float:right as there are only three blocks */
}

// 3. MODULE 				==============================
.banner {
	height: 370px;
}

/* Teaser and result styles */
.result-info {
	padding: 0 ($columnGutter / 2) 15px;
	margin: 0 (-$columnGutter / 2) 15px;
}

.services {
	margin-right:20px;
}

.sponsor {
	& img {
		width: 100%;
	}
}

ul.disclaimer {
	margin: 21px 183px 0;	
	display: inline-block;
}
// 4. STATE 				==============================

.search{
	display:block
}
// 5. THEME 				==============================