// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 992 =================================================== */

// 1. BASE 					==============================
// 2. LAYOUT				==============================
//.wrapper{
//	max-width:1050px;
//	margin:0 auto;	
//}
// 3. MODULE 				==============================
.services{
	padding:0 0 30px 0;
	background-color:#efefef;
	> li{
		@include font-size(14);
		display:inline-block;
		margin:0 0 10px 10px;
		min-width:15%;
		height:70px;
		list-style-type:none;
		text-align:center;
		font-weight:bold;
		font-family:Lato;

	}
	.icon{
		color:$baseColor;
		font-weight:normal;
	}
}
// 4. STATE 				==============================
// 5. THEME 				==============================