// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 992 =================================================== */

// 1. BASE 					==============================
// 2. LAYOUT				==============================
.wrapper {
	max-width: 980px;
	margin: 0 auto;	
}
article{

}
aside {
	display: block;
	width: 300px;
	float:right;
	background-color:#dfd;

}
// 3. MODULE 				==============================

.banner {
	height: 370px;
}
.search {
	height: 50px;
	width:180px;
	background-color: darken($baseColor, 10%);
	border: 0;
	position: relative;
	top: 98px;
	z-index: 100;
	float: right;
	color: #fff;
	padding: 1em;
	@include font-size(16);
	font: {
		style: italic;
	}
}
.l-content {
	.col {
		width: 33%;
	}
}
.services {
	padding: 0 0 30px 0;
	background-color: #efefef;
	width:100%;
	> li {
		@include font-size(14);
		display: inline-block;
		margin: 0 0 10px 10px;
		min-width: 15%;
		height: 70px;
		list-style-type: none;
		text-align: center;
		font-weight: bold;
		font-family: Lato;

	}
	.icon {
		color: $baseColor;
		font-weight: normal;
	}
}

.sponsor {
	width: 100%;
	display: inline-block;
}
// 4. STATE 				==============================
.search{
	display:block
}
// 5. THEME 				==============================