.button{
	display:inline-block;
	background-color:$baseColor;
	width:255px;
	height:35px;
	padding: 12px 14px 0px;
	@include rounded(5px);
	

}
.button:hover{
	background-color:lighten($baseColor, 5%);
}
.button .icon{
	// TODO Make this colour a variable?
	color:#53a7dd;
	display:inline-block;
	float:right;
	@include font-size(55);
	line-height:0.0em;
	font-style:normal;
}