.button{
	display:inline-block;
	background-color:$baseColor;
	width:255px;
	height:35px;
	padding: 12px 14px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	@include font-size(18);
	color:#fff;
	text-decoration:none;
	font-style:italic
}
.button .icon{
	// TODO Make this colour a variable
	color:#53a7dd;
	display:inline-block;
	float:right;
	@include font-size(55);
	line-height:0.0em
}