.top {
	background: $baseColor;
	height: 55px;
	position: relative;
	overflow: hidden;
}

.logo {
	text-indent: -9999em;
	display: block;
	width: 140px;
	height: 28px;
	background: url('/wsimages/logo.png') no-repeat;
	background-size: 121px;
	margin: 14px 0 0 $outerPadding;
	float:left;
}
.toggleSearch{
	background-color: darken($baseColor, 10%);
	display:inline;
	float:right;
	color:#fff;
	width:55px;
	text-decoration:none;
	
}
.toggleMenu{
	background-color: darken($baseColor, 5%);
	display:inline;
	float:right;
	color:#fff;
	width:55px;
	text-decoration:none;	
}
.toggleSearch:hover,.toggleMenu:hover{
	background-color: lighten($baseColor, 5%);
}

.toggleMenu .icon, .toggleSearch .icon{
	color:#fff;
	height:50px;
	line-height:0.4em;
	text-decoration:none;
	font-size:3.6em
}