/* Layout Rules */
.wrap-left {
	float: left;
	margin: 0 $outerPadding $outerPadding 0;
}

.wrap-right {
	float: right;
	margin: 0 0 $outerPadding $outerPadding;
}

.wrapper {
	width: 980px;
	margin: 0 auto;	
}

aside {
	display: block;
	width: 100%;
}
aside.right {
	display: block;
	/*width: 300px;
	float:right; */
	margin-top:35px;
}

aside.bottom{
	display:none;
}

.row.content-block .teaser.medium-three:last-child {
	float: right; /* override last child float:right as there are only three blocks */
}