/* Layout Rules */
.wrap-left {
	float: left;
	margin: 0 $outerPadding $outerPadding 0;
}

.wrap-right {
	float: right;
	margin: 0 0 $outerPadding $outerPadding;
}

aside.right{
	display:none;
}
aside.bottom{
	display:block;
	margin:26px 0 30px;
	overflow: hidden;
}
