// @include font-size(VALUE);
@mixin font-size($sizeValue: 16){
  font-size: ($sizeValue) + px;
  font-size: $sizeValue / 10 + rem;
}

// @include rounded(VALUE);

@mixin rounded($radius:4px) {
-webkit-border-radius : $radius;
-moz-border-radius : $radius;
border-radius : $radius; }
