/* Module Rules */
/* Header */
//-----------------------------------------------------------------------
.top {
	position: relative;
	height: 55px;
	background: $mainColor;
}

.logo {
	display: block;
	float:left;
	margin: 14px 0 0 $outerPadding;
	width: 140px;
	height: 28px;
	background: url('/wsimages/logo.png') no-repeat;
	background-size: 121px;
	text-indent: -9999em;
}

.toggleBtn {
	display: inline-block;
	float: right;
	width: 55px;
	background-color: darken($mainColor, 10%);
	color: #fff;
	text-decoration: none;
	height: 55px;
	line-height: 63px;
	text-align: center;

	[data-icon]:before {
		@include font-size(50);
	}

	&:hover {
		color: #fff;
	}

	&.menu {
		background-color: darken($mainColor, 5%);
	}

}

//Seach Nav
//-----------------------------------------------------------------------
.header-search {
	position: relative;
	z-index: 20;
}

.header-search-form {
	margin: 0;
	position: absolute;
	bottom:-124px;
	left:-4000px;
	width: 100%;
	background: darken($mainColor, 10%);
	text-align: right;
	padding: 1.7rem;
	font-size:0;
	-webkit-transition: all 0.2s ease-out;  
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	input[type="text"] {
		display: inline-block;
		padding: 0.9rem;
		font-size: 16px;
		width: 75%;
		border: 0;
		color: #999999;
		background: #fff;
		margin: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		@include font-size(16);

		outline: none;
		font: {
			style: italic;
		}
	}

	input[type="submit"] {
		font-size: 16px;
		width:25%;
		padding: 0.8rem;
		border: none;
		background: darken($mainColor, 5%);
		color: #fff;
		font-family: cabin;
		font-weight: 600;
		font-style: italic;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}


//Bread Crumbs
//-----------------------------------------------------------------------

.breadcrumbs {
	background: $secondaryColor;
	@include font-size(12);
	font: {
		family:Lato;
		weight:400;
		style:italic;
	}
	width:100%;
	padding:10px 0;
	color:#999999;

	.wrapper {
		padding-left:20px;
	}
	a {
		@include font-size(12);
		color:#006fb6;
	}
}

//Main Body Styles
//-----------------------------------------------------------------------
.introduction {
	margin:0 0 37px 0;
}

.banner {
	height:140px;
	background-color:#ddd;
	width: 100%;
}



.services {
	margin-top: 30px;
	padding: 15px 0;
	background-color: $secondaryColor;
	
	> li{
		@include font-size(14);
		list-style-type:none;
		text-align:center;
		font-weight:bold;
		font-family:Lato;
		margin-bottom: 8px;
	}
	
	.label {
		display: block;
	}

	span[data-icon] {
		line-height: 50px;
		&:before {
			color:$mainColor;
			font-weight:normal;
			@include font-size(70);
			position: relative;
			top: 13px;
		}
	}

}

.sponsors {
	font-size: 0px;
	text-align: center;
}

.sponsor {
	text-align:center;
	display: inline-block;
	width: 100%;
	margin: 25px 0 0 0;
	line-height:0;

	&:first-child {
		margin: 0;
	}
}


/* Generic Teaser Styles */
//-----------------------------------------------------------------------	
.teaser {
	position: relative;

	h3 {
		margin: 0;
		@include font-size(22);
	}

	p {
		margin: 0;
		padding: 0 0 12px;
	}
}


/* Index and result teaser Styles */
//-----------------------------------------------------------------------
.index, .result {
	margin:0 -($columnGutter / 2);
	padding: 0;
	list-style-type: none;
	@include clearfix;

	.teaser {
		background: $secondaryColor;
		margin: 5px 0 0;
		padding: 22px 63px 25px 20px;

		&:first-child {
			margin: 0;
		}

		[data-icon] {
			position: absolute;
			right:20px;
			bottom:25px;

			&:before {
				color:#00a502;
				@include font-size(60);
			}
		}
	}
}

.result-search {
	margin: 0;
}

.result-details {
	@include clearfix;

	.criteria {
		color:red;
	}
}

.search form {
	margin:0;
}

.option-bar {
	@include clearfix;
}


/* Sitemap Styles */
//-----------------------------------------------------------------------	
#sitemapNav {
	padding-left:0; 	
	>li {
		border: none;
		background: none;
		margin: 0;
		padding: 0;
		zoom: 1;
		list-style: none;
	}

	> li a {
		background-color: $mainColor;
		font-weight: 700;
		display: block;
		padding: 8px 7px 8px 12px;
		text-decoration: none;
		margin-bottom: 4px;
		color:#fff;
		@include font-size(18);
		font-style: normal;
	}

	> li a:hover {
		color:#bababa;
	}

	.lvl2 {
	 	padding:0;
		

		> li {						
			list-style:none;
			padding-left:5px;
			background:url("/wsimages/siteMapLevel3Bullet.gif") 0px  13px  no-repeat;
		}

		> li a {
			border-top:1px dotted #c3c3c3;
			background-color: #fff;
			color:#333;
			@include font-size(16);
		}

		> li.first a {
			border:none;
		}

		>li a:hover {
			text-decoration: underline;
		}

		.lvl3 {
			padding:0;

			> li {
				padding-left:20px;
				list-style:none;
				background: url("/css/../wsimages/siteMapLevel4Bullet.gif") 12px 10px no-repeat
			}
			> li a {
				@include font-size(14);
				color:#ec007a;
				padding:3px 7px 5px 10px;
			}

			.lvl4 {
				padding:0;

				> li {
					padding-left:30px;
					background:url("/wsimages/siteMapLevel5Bullet.gif") 27px 10px no-repeat;
					list-style:none;
				}
				> li a {
					color:#333;
					@include font-size(14);
					font-weight: normal;
				}
			}
		}
	}
}

/* Contact Styles */
//-----------------------------------------------------------------------
.required-notify {
	float:right;
	color: $alertColor;
	font-size: 10px;
	margin:0 0 10px;
}

.contact-details {
	width: 100%;
}


/* Footer Styles */
//-----------------------------------------------------------------------
footer {
	background-color: $secondaryColor;
	overflow: hidden;
	
	.siteinfo {
		background-color:#dedede;
		text-align: center;
	}
	.footerlinks {			

		.morelink  {
			@include font-size(12);
			text-indent: 0;
			line-height: 2em;
			text-decoration:none;
			color: #333;		
			font:  {
				family: Lato;
				style:normal;
				weight:normal;
			}
		}

		.morelink:hover {
			color:#a6a6a6;
		}

		h4, h4 .morelink {
				line-height:30px;				
				font:  {
					family: Lato;
					weight: bold;
					style: italic;
				}

		}
	}
}

.copyright {
	padding-top:20px;
	@include font-size(12);
    line-height: 16px;
    color: #666666;
    text-align: center;
}

.disclaimer {
	padding:0px;
	@include font-size(12);
    text-align: center;
    font-weight: 700;
    font-style: normal;
    color: #000000;

	> li{
		@include font-size(12);
		display:inline-block;
		padding-right:18px;
		list-style-type:none;

		font: {
			family:Lato;

		}
	}
	> li:before {
		padding-right:20px;
		color:#bababa;
		content:"/";
		font:{
			weight:bold;
		}
	}
	> li:first-child:before{
		content:"";
	}
	> li a {
		@include font-size(12);
		text-decoration: none;
		font-style: normal;
		color:#333;
		font: {
			family:Lato;

		}
	}

	> li a:hover {
		color:#bababa;
	}
}

.toTop {
    // TODO - Make this colour a variable ?
    text-decoration: none;

    [data-icon] {
        color: darken($secondaryColor,40%); //#8f938f
        line-height: 60px;

        &:before{
            @include font-size(70);
        }
    }
}


/* Pagination */
//-----------------------------------------------------------------------
ul.pagination { display: block; height: 24px; margin-#{$defaultFloat}: -5px;

    li { float: $defaultFloat; display: block; height: 24px; color: #999; margin-#{$defaultFloat}: 5px;

      a,span { display: block; padding: 1px 7px 1px; color: #555; @include font-size(14); font-style: normal; line-height:22px; font-weight: 700; font-family: lato; }
      &:hover a, a:focus { background: darken($white, 10%); }
      &.unavailable a, span { cursor: default; color: #999; }
      &.unavailable:hover a, &.unavailable a:focus { background: transparent; }
      &.current { background: $mainColor; 
      	span { font-weight: bold; cursor: default; color: $white; }
    	}
    }
  }

  div.pagination-centered { text-align: center; 
    ul > li { float: none; display: inline-block; }
  }
