/* State Rules */
//----------------------------------------------------------------------------------------------------
.left        { float: left; }
.right       { float: right; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.hide        { display: none; }
.hide-override { display: none !important; }
.highlight   { background: $highlightColor; }
.rtl {text-align:right;}
.ltl {text-align:left;}


//----------------------------------------------------------------------------------------------------
.hidden {
	display:none;
}

.footerlinks {
	padding:0 25px 25px 0;
}

.footerlinks ul {
	display: none;
}

.footerlinks h4 {
	display:list-item;
	margin:25px 0 0 25px;
	color:#666666;
	@include font-size(16);
}

.footerlinks h4 .morelink {
	color:#666666;
	@include font-size(16);
}

.header-search-form.active {
	left: 0;
}

.thumbnail {
	display:none;			
}

.teaserBody {			
	width:100%;			
}	

