.button {
	@include rounded($buttonRadius);
	background: $mainColor;
	border-radius: $buttonRadius;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: Cabin;
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
	line-height: 1em;
	padding: 9px 12px;
	position: relative;
	text-decoration: none;
	width: 100%;
	border:none;
	text-align: center;
		
	&:hover, &:focus {
		color: #fff;
		background: lighten($mainColor, 5%);
	}

	/* Sizes */
	&.expand { 
		width: 100%; 
		text-align: center; 
	}

	/* Icons */
	& [data-icon] {
		float: right;

		:before {
			color: lighten($mainColor, 50%);
			opacity: 0.5;
		}
	}	
}

// Button Styles
//----------------------------------------------------------------
.button-reset {
	background: desaturate($mainColor, 90);
	margin: 0 0 15px 0;

	&:hover, &:focus {
		background: lighten( desaturate($mainColor, 90), 5%);
	}
}

/* Don't use native buttons on iOS */
//-----------------------------------------------------------------
input[type=submit].button, button.button { -webkit-appearance: none; }

/* Correct FF button padding */
@-moz-document url-prefix() {
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0;  }
}