.button {
	@include rounded($buttonRadius);
	background: $mainColor;
	border-radius: $buttonRadius;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: Cabin;
	font-weight: 600;
	font-style: italic;
	font-size: 18px;
	line-height: 1em;
	padding: 9px 12px;
	position: relative;
	text-decoration: none;
	width: 100%;
	border:none;
		
	&:hover {
		color: #fff;
		background: lighten($mainColor, 5%);
	}
}

	.button [data-icon] {
		float: right;
	}

	.button [data-icon]:before {
		color: lighten($mainColor, 50%);
		opacity: 0.5;
	}