//Main Navigation
//-----------------------------------------------------------------------
 nav[role=navigation] {
	max-height:  55px;
	position: relative;
	top: 16px;

	clear: both;
	-webkit-transition: all 0.2s ease-out;  
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: relative;
	z-index: 10;

	ul {
		padding:0;
		margin:0;
		border:  0;
		background-color: darken($mainColor, 5%);	
		.lvl2 {
		}
	}
	li {
		display:  inline-block;
		margin:  0;
		background-color: darken($mainColor, 10%);

	}

	li a {
		border:  0;
		background-color: darken($mainColor, 5%);
		padding: 0.95em 0.8em;
		@include font-size(16);

		display: block;
		color:#fff;
		text-decoration:none;
		font: {
			style:normal;
		};

		

		&:hover {
			background-color:lighten($mainColor,10%);
		}
	}

	ul.lvl1 li.active > a{
		max-height: 15em;
		background-color:lighten($mainColor,10%);
		}

	.indicator {
	display:none;
	}

	ul ul.lvl2  {
	display:none;
	}
	
}

.js #menu, .js #menu > ul ul {
	max-height: none;
	overflow: visible;
	background: none;
}
.js #menu > ul ul {
	
	display: none;
}

.js #menu > ul li:hover > ul {
	display: block;
}

#menu > ul > li {
	display: inline-block;
	position: relative;
}
#menu > ul ul {
	position: absolute;
	top: 0;
	left: 12em;
	width: 12em;
}
#menu > ul ul li {
	position: relative;
}
#menu > ul ul.lvl2 {
	top: 3.1em;
	left: 0;	
}

#menu > ul ul.lvl2  li {
	width: 100%;
	border-top: 1px solid lighten($mainColor, 10%);
}
#menu li.parent > a:after {
	content: '';

}
#menu li.parent > a.active:after {
	content: "";
}

#menu > ul ul.lvl3  {
	top:-1px;
}




