// Grid settings
//----------------------------------------------------------------------------------------------------

$grid-max-width: 980px !default;
$grid-min-width: 727px !default;
$support-block-grid-nth-child: false !default;