// Google Web Fonts - http://www.google.com/webfonts#UsePlace:use/Collection:Lato|Cabin:400,500,600,400italic
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic|Cabin:400,500,600,400italic);

html {
    font-size: 62.5%;
}

body {
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    color: #333;
    @include font-size();
}

blockquote {
    font-style: italic;
    font-weight: 400;
    @include font-size(24);
    line-height: 36px;
    margin-bottom: 25px;
    font-family: 'Century Schoolbook';
    color: #4FA0AD;
}

h1 {
    @include font-size(32);
    line-height: 54px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    font-family: Cabin;
    letter-spacing: -1px;
    color: #000000;
}

h2 {
    @include font-size(26);
    line-height: 34px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-family: Cabin;
}

h3 {
    @include font-size(21);
    line-height: 28px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-family: Cabin;
    color: #000000;
}

h4 {
    margin-bottom: 15px;
    font-weight: 500;
    font-style: normal;
    font-family: Cabin;
    @include font-size(20);
    line-height: 30px;
}

h5 {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-family: Cabin;
    @include font-size(16);
    color: #000000;
    line-height: 24px;
}

h6 {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
    font-family: Cabin;
    @include font-size(14);
    color: #666666;
    line-height: 21px;
}

p a:link {
    color: #00A502;
}

p a:visited {
    color: #A8A7A3;
}

p a:hover {
    color: #006E01;
}

p {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: Lato;
    @include font-size(14);
    line-height: 21px;
    color: #333333;
}

p.intro {
    @include font-size(18);
    font-style: normal;
    font-weight: 400;
    font-family: Lato;
    line-height: 27px;
    color: #555555;
    margin-top: 0px;
}

p.list {
    text-align: center;
    @include font-size(14);
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 25px;
}

.listfooter {
    @include font-size(16);
    line-height: 42px;
    color: #666666;
    font-weight: 700;
    font-style: italic;
}

p.copyright {
    @include font-size(12);
    line-height: 16px;
    color: #666666;
    text-align: center;
}

.disclaimer {
    @include font-size(12);
    text-align: center;
    font-weight: 700;
    font-style: normal;
    color: #000000;
}

.button {
    @include font-size(18);
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-family: Cabin;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 18px;
}

a {
    color: $linkGreen;
    font-family: Lato;
    font-weight: bold;
    font-style: oblique;
    @include font-size(14);
}

.toTop {
    // TODO - Make this colour a variable ?
    text-decoration: none;
    text-indent: -9999px;
    .icon {
        color: #8f938f;
        text-indent: 0px;
        text-align: center;
    }
}