/* Pagination */
//-----------------------------------------------------------------------
.pagination { display: block; height: 40px; margin:0 0 20px; padding:0; text-align: center; font-size: 0;

	li { float: none; display: inline-block; height: 40px; color: #d4d4d4; margin-#{$defaultFloat}: 5px;

		a,span { display: block; padding: 1px 16px 1px; color: $white; @include font-size(18); font-style: normal; line-height:40px; font-weight: 700; font-family: $mainFont; background: $mainColor; text-decoration: none; @include border-radius(6px); }
		&:hover a, a:focus { background: darken($mainColor, 10%); }
		&.prev a, &.next a, &.prev span, &.next span { background: none; color:$mainColor; }
		&.prev { margin-left: 0; }
		&.unavailable a, &.unavailable span { cursor: default; color: #999; }
		&.unavailable:hover a, &.unavailable a:focus { background: transparent; }
		&.current span { font-weight: bold; cursor: default; color: #555; background: none; }
	}
}

/* Alerts  */
//-----------------------------------------------------------------------	

.alert { display: block; padding: 6px 7px 7px; font-weight: bold; font-size: 16px; color: $white; background-color: $mainColor; border: 1px solid rgba(#000,.1); margin-bottom: 12px; @include border-radius($alertBorderRadius); text-shadow: 0 -1px rgba(#000,.3); position: relative; font-style:normal;

	a.close { color: #333; position: absolute; #{$defaultOpposite}: 4px; top: -1px; @include font-size(25); opacity: 0.2; padding: 4px; font-family: "entypo"; line-height:1rem; }
	a.close:hover, a.close:focus { opacity: 0.4; cursor: pointer; }
}

.alert-success { background-color: $successColor; color: #fff; text-shadow: 0 -1px rgba(#000,.3); }
.alert-error { background-color: $alertColor; color: #fff; text-shadow: 0 -1px rgba(#000,.3); }
.alert-secondary { background-color: $secondaryColor; color: darken($secondaryColor, 60%); text-shadow: 0 1px rgba(#fff,.3); }


