
/* Base Colour Rules (ONLY MODIFY DO NOT DELETE) */
//----------------------------------------------------------------------------------------------------
$baseColor: #006fb6;
$secondaryColor: #000;

// Custom variables
//----------------------------------------------------------------------------------------------------
$linkGreen: #00a502;
$tmaPink: #ec0064;
$outerPadding: 9px;
$btnRadius: 4px;



