@import "variables";
@import "fonts";
@import "mixins/font-size";

// reset all typography styles and provide a nice baseline
//-----------------------------------------------------------
html {
    font-size: 62.5%;
}

body {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    @include font-size();
}

h1, h2, h3, h4, h5, h6, a, p {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align: baseline;
}

a{
    font-weight: 400;
    font-style: normal;  
}

// Declare wysiwyg font styles here
//-----------------------------------------------------------
h1 {
    @include font-size(32);
    line-height: 42px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgba(0,0,0,1);
    font-family: $secondaryFont;
}


h2 {
    @include font-size(26);
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    font-family: $mainFont;
    margin-bottom:25px;
    color: rgba(51,51,51,1);
}


h3 {
    font-style: normal;
    font-weight: 600;
    font-family: $secondaryFont;
    @include font-size(20);
    line-height: 28px;
    margin-bottom: 20px;
    text-indent: 0px;
}


h4 {
    font-style: normal;
    font-weight: 600;
    font-family: $secondaryFont;
    @include font-size(22);
    line-height: 30px;
    color: rgba(0,0,0,1);
}


h5 {
    font-style: italic;
    font-weight: 600;
    font-family: $secondaryFont;
    line-height: 28px;
    @include font-size(20);
    color: rgba(90,143,177,1);
    margin-bottom: 0px;
}


h6 {
    font-style: normal;
    font-weight: 600;
    font-family: $secondaryFont;
    @include font-size(20);
    line-height: 28px;
    color: rgba(119,119,119,1);
}

p a:link {
    color: rgba(0,110,1,1);
    text-decoration: underline;
}


p a:hover {
    text-decoration: none;
    color: rgba(0,165,2,1);
}


p {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: $mainFont;
    @include font-size(18);
    line-height: 26px;
    color: rgba(51,51,51,1);
}

ul,ol{
    list-style-type: square;
    padding: 0 0 0 18px;
   
    li{
        color: $mainColor;
        @include font-size(14);
        padding: 0 0 10px;
        line-height: 20px;

        span{
            @include font-size(14);
            color: rgba(51,51,51,1);
        }
    }    
}

ol{
    list-style-type: decimal;
}

// Declare wysiwyg specific styles here
//-----------------------------------------------------------
p.intro {
    @include font-size(18);
    font-style: normal;
    font-weight: 400;
    font-family: $mainFont;
    line-height: 27px;
    color: #555555;
    margin-top: 0px;
}

p.blockquote {
    text-indent: 0px;
    font-style: normal;
    font-weight: 600;
    font-family: $secondaryFont;
    @include font-size(20);
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgba(51,51,51,1);
}

.imgNormal, .imgLeft, .imgRight{
    padding: 0 0 10px;
}

// 768px
@media only screen and (min-width: 768px) {
    @import "768-type";
}

// 992px
@media only screen and (min-width: 992px) {
    @import "992-type";
}