
nav[role=navigation]  {
	height: 52px;
	top:106px;
	padding: 0px; // we dont need the extra padding here

	ul {

		&.lvl2 {
			top: 52px;
		}
	}

	li a {
		height: 52px;
		@include font-size(16);
		padding: 0.95em 18px;
	}
}