//Main Navigation
//-----------------------------------------------------------------------

nav[role=navigation] {
	@include clearfix;
	@include single-transition(all,0.3s,ease-out);
	position: relative;
	z-index: 10;
	width: 100%;
	overflow: hidden;
	clear: both;
}

.fcbNav {
	margin: 0;
	padding: 0;
	list-style: none;
	
	// Global level styles
	//-----------------------------------------------------------------------
	a {
		display: block;
		position: relative;
		padding: 0.8em;
		background-color: #005F9D;
		color: #fff;
		text-decoration: none;
		font-style: normal;
		font-family: $mainFont;

		&:hover {
			background: darken($mainColor,10%);
		}
		span{
			color: #fff;
		}		
	}

	ul{
		list-style: none;
	}

	li {
		padding: 0;
		@include font-size(18);
		line-height: 18px;

		&.filler {
			display: none;
		}
	}

	.indicator {
		float: right;
	}
	
	// Specific level nagiation style overrides
	//-----------------------------------------------------------------------
	&.lvl1 {
		
		li {
			border-top: 1px solid #0068ab;
			border-bottom: 1px solid #004571;
			
			&:first-child {
				border-top: none;
			}

			&:last-child {
				border-bottom: none;
			}	
		}

		li.active > a {
			background: darken($mainColor,10%);
		}
	}

	.lvl2  {
		display:none; //mobile navigation does not need to display the secondary level
	}
}

//	To show and hide the navigation in mobile view
//-----------------------------------------------------------------------
#menu.active, #menu > ul ul.active {
	max-height: 55em;
}

#menu, #menu > ul ul {
	max-height: 0;
}



