<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    	<title>fcbResponsive</title>
    	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/css/fcbResponsive.css" />

        <script src="/js/lib/modernizer-custom.js" type="text/javascript"></script>

        <script type="text/javascript">
        Modernizr.load([
            //first test need for polyfill
            {
                test: window.matchMedia,
                nope: "/js/lib/matchMedia.js"
            }
        ]);
        </script>

        <!-- How about HTML Aria Roles for screen readers -->
  	</head>
  	<body>

        <!-- Header and banner wrapper -->
        <div class="hb-wrap">
            <!-- Header -->
            <header class="top">
                <div class="wrapper">
                    <a class="logo" href="#">Farcry in a Box</a>
                    
                    <div class="header-search">
                        <a class="toggleSearch" href="#">
                            <span class="icon">&#128269;</span>
                            <span class="hide">Search</span>
                        </a>
                        <form action="/" method="post" class="header-search-form">
                            <input type="text" class="search" placeholder="Search our website..." value="" />
                            <input type="submit" value="Submit">
                        </form>
                    </div>

                    <a class="toggleMenu" href="#menu">
                        <span class="icon">&#9776;</span>
                        <span class="hide">Menu</span>
                    </a>
                    <nav id="menu" role="navigation">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Our Products</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Banner -->
            <div class="banner">
                <h3>Hero Banner</h3>
            </div>
        </div><!-- END .hb-wrap -->
        
        <div class="wrapper clearfix">
            <!-- Feature Box -->
            <div class="row">
                <article class="columns eight medium-six">
                    <h1>Responsive, in a Box.</h1>
                    <p>An introductory paragraph is a great way to summarise the content before the reader really digs into the detail of your story. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis.</p>
                    
                    <a class="button" href="#">
                        Read more
                        <span data-icon="&#59226;"></span>
                    </a>
                </article>
                <aside class="columns four mobile-four right" data-set="asides"></aside>
            </div>
            <!-- Services -->
            <ul class="services row">
                <li class="two mobile-two medium-two columns"><span class="icon">&#128241;</span>Mobile First</li>
                <li class="two mobile-two medium-two columns"><span class="icon">&#128202;</span>Scalable Solution</li>
                <li class="two mobile-two medium-two columns"><span class="icon">&#128319;</span>Future-Friendly</li>
                <li class="two mobile-two medium-two columns"><span class="icon">&#62977;</span>Adaptive Website</li>
                <li class="two mobile-two medium-two columns"><span class="icon">&#59214;</span>Responsive UI</li>
                <li class="two mobile-two medium-two columns"><span class="icon">&#9874;</span>CMS Integrated</li>
            </ul>

            <div class="row content-block">
                <!-- Content Blocks -->
                <article class="four columns medium-three teaser">
                    <h2>Content Block One</h2>
                    <img src="/wsimages/thumb.png" alt="Content Block Teaser Image" class="wrap-left" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna.</p>
                    <a href="#">Read more</a>
                </article>
                <article class="four columns medium-three teaser">
                    <h2>Content Block Two</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud.</p>
                    <a href="#">Read more</a>
                </article>
                <article class="four columns medium-three teaser">
                    <h2>Content Block Three</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud.</p>
                    <a href="#">Read more</a>
                </article>
            </div>

            <!-- RHS Column -->
        	<aside class="bottom row" data-set="asides">
                <div class="sponsors">
                   <a class="sponsor column medium-three">
                        <img src="/wsimages/TMA.png" alt="The Memphis Agency" />
                    </a>
                    <a class="sponsor column medium-three">
                        <img src="/wsimages/Farcry.png" alt="Farcry" />
                    </a>
                </div>
            </aside>
        </div>

        <!-- Footer --> 
        <footer>
            <div class="wrapper">
                <ul class="quicklinks">
                    <li>About Us</li>            
                    <li>Our Products</li>            
                    <li>Latest News</li>            
                    <li>Contact Us</li>
                </ul>
                <div class="footerlinks row">
                    <div class="three mobile-two columns">
                        <h4>About Us</h4>
                        <ul >
                            <li>Our History</li>            
                            <li>Our Vision</li>     
                            <li>The Framework</li>            
                        </ul>
                    </div>
                    <div class="three mobile-two columns">
                        <h4>Our Products</h4>
                        <ul >
                            <li>FarCry in a Box</li>            
                            <li>FCB Responsive</li>            
                            <li>Web Apps</li>            
                        </ul>
                    </div>                
                    <div class="three mobile-two columns">
                        <h4>Latest News</h4>
                        <ul >
                            <li>News &amp; Media</li>            
                            <li>From the Blog</li>            
                            <li>Latest Tweets</li>            
                        </ul>
                    </div>               
                    <div class="three mobile-two columns">
                        <h4>Contact Us</h4>
                        <ul class="contact">
                            <li><span class="icon">&#128222;</span><span>+61 8 8212 2153<span></li>          
                            <li><span class="icon">&#59172;</span><span>Level 1, 26 Gray Court Adelaide SA 5000</span></li>         
                        </ul>
                    </div>              
                </div>

            </div>
            <div class="siteinfo">
                <div class="wrapper">
                    <p class="copyright">
                        &copy; 2013 The Memphis Agency
                    </p>
                    <ul class="disclaimer">
                        <li>Privacy</li>
                        <li>Sitemap</li>
                        <li>Credits</li>
                    </ul>
                    
                    <a class="toTop " href="#">
                        <span class="icon">&#59227;</span>
                        <span class="hide">Go to Top</span>
                    </a>
                </div>
 
            </div>
        </footer>
    	
       <script src="/js/fcbResponsive.min.js" type="text/javascript"></script>
  	</body>
</html>